.borderRadiusGrey {
    border: 1px solid grey;
    border-radius: 4px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
}